@media (max-width:1280px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
    
    :root {
        --facebook: #3b5999;
        --instagram: #e4405f;
        --whatsapp: green;
        --linkedin: #0077b5;
        --gmail: #912200;
        --barra: linear-gradient(to right, #885b49, #c53838);;
    }
    
    body{
        padding: 0;
        margin: 0;
        line-height: 1.6;
        background: rgb(15,5,9);
        background: linear-gradient(93deg, rgba(15,5,9,1) 7%, rgba(50,73,130,1) 100%);
        font-family: 'Roboto Mono', monospace;
        
    }
    
    /*BARRA DE NAVEGACION LATERAL*/
    
    .social-bar {
        top: 37%;
     }

    /* FIN BARRA DE NAVEGACION LATERAL*/
    
    
    /*TITULO HOLA SOY*/
    

    
    .presentacion {
        color: #f3f3f3;
        margin-top: 290px;
        margin-left: 60px;
        font-size: 50px;
    }
    
    
    .subtitulo {
        font-size: 30px;
        color: #bbbbbb;
    }
    
    .img-portada {
        padding-left: 20px ;
        padding-top: 50px;
    }
    
    /*FIN TITULO HOLA SOY*/


  /*--------------------------------------------------------------------------------------------------------*/

    /*QUIEN SOY*/
    .global-padding{
        padding: 5rem;
    }

    .img-quiensoy{
        height: 80%;
       
        border: 2px solid #4d2f23;
    }

    .descripcion-quien-soy{
        margin-top: 6rem;
        font-size: 15px;
        color: white;
    }

    .descargar-cv-2{
        text-decoration: none;
        font-size: 18px;
        color: #f3f3f3;
        padding: 10px 20px;
        background: linear-gradient(to right, #ae6446, #c53838);
        border: none;
        border-radius: 20px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: none;
        transition: 0.8s;
    }

    /*QUIEN SOY - FIN*/

    /*--------------------------------------------------------------------------------------------------------*/

    
    /*--------------------------------------------------------------------------------------------------------*/
    
}